# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

# Machine Learning
torch
torchvision
torchaudio

# Data Vis.
tqdm
plotly
matplotlib

# Simulation & Computations
numpy
opencv-python
ultralytics # for YOLOv8